@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Robot-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Robot-Bold.ttf") format("truetype");
  font-weight: 500;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body {
  background-color: #161616;
  color: white;
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.small-sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem;
  border-radius: 10px;
}
.small-sidebar-item:hover {
  background-color: #272727;
}

.large-sidebar-item {
  display: flex;
  padding: 0.8rem;
  border-radius: 10px;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.large-sidebar-item:hover {
  background-color: #272727;
}

.heading {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: bolder;
}

.subs-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.my-container {
  width: 98.5%;
  margin: 0 auto;
}

hr {
  border-color: #3f3f3f;
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.icon-container {
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.icon-container:hover {
  background-color: #272727;
}

.icon-container-2 {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 1.75rem 1rem 1.75rem 1rem;
  border-radius: 12.5px;
  cursor: pointer;
}
.icon-container-2:hover {
  background-color: #272727;
}

.logo {
  width: 95px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.header {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header * {
  display: flex;
}
.header .start {
  flex: 33%;
  align-items: center;
  gap: 1rem;
}
.header .center {
  flex: 33%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .center input {
  width: 100%;
  max-width: 55rem;
  margin-left: 2rem;
  background-color: #353535;
  border: 1px solid #303030;
  border-radius: 20px;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  outline: none;
}
.header .center input::placeholder {
  color: #828282;
}
.header .center input:focus {
  border-color: #1c62b9;
}
.header .center .search-btn {
  position: absolute;
  right: 9%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #222222;
  border: 1px solid #303030;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  font-size: 2.15rem;
}
.header .center .search-btn:hover {
  background-color: #3d3d3d;
}
.header .center .mic-btn {
  padding: 1rem;
  background-color: #222222;
  border: 1px solid #303030;
  border-radius: 50%;
  font-size: 1.7rem;
  margin-left: 2rem;
}
.header .center .mic-btn:hover {
  background-color: #3d3d3d;
}
.header .end {
  flex: 33%;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}
.header .end .profile {
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #7e57c1;
}

.main {
  height: 93.5vh;
  display: flex;
  gap: 2rem;
}
.main .small-sidebar {
  display: flex;
  flex-direction: column;
  width: 7.2rem;
  opacity: 0;
  transform: translate(-100%, 0);
  animation: openning-smallbar-animation 0.4s forwards;
}
@keyframes openning-smallbar-animation {
  100% {
    opacity: 1;
    transform: translate(0%, 0);
  }
}
.main .large-sidebar {
  min-width: 23rem;
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  padding-right: 2rem;
  opacity: 0;
  transform: translate(-100%, 0);
  animation: openning-largesidebar-animation 0.4s forwards;
}
@keyframes openning-largesidebar-animation {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.main .large-sidebar:hover {
  overflow-y: scroll;
}
.main .large-sidebar .LargeSidebarSection {
  margin: 1rem 0 1.7rem 0;
}
.main .large-sidebar .guide-links {
  margin: 1.7rem 0 1.7rem 0.5rem;
  width: 83%;
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main .large-sidebar .guide-links > * {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.main .content {
  overflow: hidden;
}
.main .content .filter-list {
  display: flex;
  gap: 1rem;
}
.main .content .filter-element-btn {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 10px;
  background-color: #272727;
  font-size: 1.4rem;
}
.main .content .filter-element-btn:hover {
  background-color: #3f3f3f;
}
.main .content .videoContentContainer {
  height: 100%;
  overflow-y: scroll;
}
.main .content .videoContentContainer .videoContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
}
.main .content .videoContentContainer .videoContent .video-box {
  margin-bottom: 4rem;
  min-width: 30rem;
  min-height: 17rem;
  position: relative;
  cursor: pointer;
}
.main .content .videoContentContainer .videoContent .video-box .video-wrapper {
  border-radius: 15px;
  overflow: hidden;
}
.main .content .videoContentContainer .videoContent .video-box .thumb-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}
.main .content .videoContentContainer .videoContent .video-box .video-text-content {
  padding: 1rem 0.5rem 1rem 0.5rem;
  display: flex;
  gap: 1rem;
}
.main .content .videoContentContainer .videoContent .video-box .video-text-content .subtitle {
  font-size: 1.4rem;
  color: #aaaa84;
}
.main .content .videoContentContainer .videoContent .video-box .video-text-content .title {
  font-weight: 500;
}
@media (max-width: 1900px) {
  .main .content .videoContentContainer .videoContent {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1500px) {
  .main .content .videoContentContainer .videoContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .main .content .videoContentContainer .video-box {
    min-width: 100%;
  }
}
@media (max-width: 1300px) {
  .main .content .videoContentContainer .videoContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .main .content .videoContentContainer .video-box {
    min-width: 100%;
  }
}
@media (max-width: 900px) {
  .main .content .videoContentContainer .videoContent {
    grid-template-columns: repeat(1, 1fr);
  }
  .main .content .videoContentContainer .video-box {
    min-width: 100%;
    margin-right: 1rem;
  }
  .main .content .videoContentContainer .large-sidebar {
    display: none !important;
  }
}

/*# sourceMappingURL=App.css.map */
